#

In [10]:
# PROBLEM 3
# How many rows are in dataset: week-01/datasets/A.csv? 
# How about in week-01/datasets/B.txt and in week-01/datasets/C.csv?

with open('datasets/A.csv') as file:
    counter = 0
    for line in file:
        counter +=1
    print('A.csv has', counter, "lines" )

A.csv has 9001 lines

In [2]:
with open('datasets/B.txt') as file:
    counter = 0
    for line in file:
        counter +=1
    print('B.txt has', counter, "lines" )

B.txt has 232043 lines

In [3]:
with open('datasets/C.csv') as file:
    counter = 0
    for line in file:
        counter +=1
    print('C.csv has', counter, "lines" )

C.csv has 79 lines

In [2]:
# PROBLEM 4
# Repeat the previous task to find out how many samples (i.e., instances) 
# are there in each of the dataset?
import pandas as pd 
# header=0 means the first row is the header
A = pd.read_csv('datasets/A.csv', sep=',', header=0)
A.head(n=1)

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15647572,Greece,504,Spain,Male,34,0,54980.81,1,1,1,136909.88,0

In [3]:
A.columns

Index(['CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age',
       'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Exited'],
      dtype='object')

In [4]:
# .shape returns a tuple: (number of rows, number of columns )
A.shape

(9000, 13)

In [11]:
print(f'num rows of A is {A.shape[0]}')

num rows of A is 9000

In [12]:
B = pd.read_csv('datasets/B.txt', header=None, sep='\s+')
B.head(n=1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,AQC00914000,1981,4279,3745,10762,6067,4096,3606,6203,5292,3092,6866,7163,7866

In [13]:
B.shape

(232043, 14)

In [14]:
print(f'num rows of B is {B.shape[0]}')

num rows of B is 232043

In [17]:
# skiprows=[1] skips the first row
C = pd.read_csv('datasets/C.csv',
                header=0, #first row is header row
                sep=';',
                skiprows=[1] #skip the second row
               )
C.head(n=5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [18]:
print(f'num rows of C is {C.shape[0]}')

num rows of C is 77

In [21]:
# PROBLEM 5
# How many columns are there in each of the 3 datasets?

print('A has',len(A.columns),'columns')
print('B has',len(B.columns),'columns')
print('C has',len(C.columns),'columns')

A has 13 columns
B has 14 columns
C has 16 columns

In [22]:
# PROBLEM 6
# Compute the mean of the last (i.e., rightmost) column of week-01/datasets/C.csv?
# A, B and C are pandas dataframe object
# .iloc[] is an indexer used for integer-location-based indexing of data in a DataFrame. 
# It allows users to select specific rows and columns by providing integer indices

print(f'mean of the right most column of C.csv is {C[["rating"]].mean().iloc[0,]:.2f}')

mean of the right most column of C.csv is 42.67

In [23]:
# PROBLEM 7
# Where (i.e, in which sample) the two datasets: week-01/datasets/B.txt and week-01/datasets/D.txt differ?
!diff datasets/B.txt datasets/D.txt

112590c112590
< USC00286460 1981   279   1511    261    916   1559    910   1351    386    855   1114    396   1192
---
> USC00286460 1981   279   1511    261    916   1559    91l   1351    386    855   1114    396   1192

In [24]:
# PROBLEM 8
# What is the average credit score among the samples found in week-01/datasets/A.csv?
print(f'Average credit score of A.csv is {A[["CreditScore"]].mean().iloc[0,]:.2f}')

Average credit score of A.csv is 650.12

In [27]:
# PROBLEM 9
# How many different countries are listed in week-01/datasts/A.csv?
# print out all the countries without the duplicates
A["Geography"].unique()

array(['Spain', 'France', 'Germany'], dtype=object)

In [29]:
print(f'Number of counties in A.csv is {A["Geography"].nunique()}')

Number of counties in A.csv is 3