### Question 1
- How many samples are there in the dataset?
- How many features are there per sample, excluding the class/type label?
- Print the number of unique classes (i.e., fruit types), list the class names, and their frequency distribution.

In [8]:
import pandas as pd

# There are 898 samples/rows
# There are 35 features/columns
df = pd.read_excel('datasets/Date_Fruit_Datasets.xlsx',sheet_name="Date_Fruit_Datasets")
df.shape

(898, 35)

In [9]:
# The nunique() method returns the number of unique values for each column.
# There are 7 unique values in the "Class" column
df['Class'].nunique()

7

In [10]:
# list of unique values in 'Class' column
df['Class'].unique()

array(['BERHI', 'DEGLET', 'DOKOL', 'IRAQI', 'ROTANA', 'SAFAVI', 'SOGAY'],
      dtype=object)

In [11]:
# Class distribution
df['Class'].value_counts()

Class
DOKOL     204
SAFAVI    199
ROTANA    166
DEGLET     98
SOGAY      94
IRAQI      72
BERHI      65
Name: count, dtype: int64

### Question 2
- List mean, stdev, min, max of each of the features in the dataset

- The **describe()** method returns description of the data in the DataFrame.
    - If the DataFrame contains numerical data, the description contains these information for each column:
        - count - The number of not-empty values.
        - mean - The average (mean) value.
        - std - The standard deviation.
        - min - the minimum value.
        - 25% - The 25% percentile*.
        - 50% - The 50% percentile*.
        - 75% - The 75% percentile*.
        - max - the maximum value.

In [7]:
import pandas as pd

df = pd.read_excel('datasets/Date_Fruit_Datasets.xlsx',sheet_name="Date_Fruit_Datasets")
df.describe()

,AREA,PERIMETER,MAJOR_AXIS,MINOR_AXIS,ECCENTRICITY,EQDIASQ,SOLIDITY,CONVEX_AREA,EXTENT,ASPECT_RATIO,...,SkewRB,KurtosisRR,KurtosisRG,KurtosisRB,EntropyRR,EntropyRG,EntropyRB,ALLdaub4RR,ALLdaub4RG,ALLdaub4RB
count,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,...,898.000000,898.000000,898.000000,898.000000,8.980000e+02,8.980000e+02,8.980000e+02,898.000000,898.000000,898.000000
mean,298295.207127,2057.660953,750.811994,495.872785,0.737468,604.577938,0.981840,303845.592428,0.736267,2.131102,...,0.250518,4.247845,5.110894,3.780928,-3.185021e+10,-2.901860e+10,-2.771876e+10,50.082888,48.805681,48.098393
std,107245.205337,410.012459,144.059326,114.268917,0.088727,119.593888,0.018157,108815.656947,0.053745,17.820778,...,0.632918,2.892357,3.745463,2.049831,2.037241e+10,1.712952e+10,1.484137e+10,16.063125,14.125911,10.813862
min,1987.000000,911.828000,336.722700,2.283200,0.344800,50.298400,0.836600,2257.000000,0.512300,1.065300,...,-1.029100,1.708200,1.607600,1.767200,-1.091224e+11,-9.261697e+10,-8.747177e+10,15.191100,20.524700,22.130000
25%,206948.000000,1726.091500,641.068650,404.684375,0.685625,513.317075,0.978825,210022.750000,0.705875,1.373725,...,-0.196950,2.536625,2.508850,2.577275,-4.429444e+10,-3.894638e+10,-3.564534e+10,38.224425,38.654525,39.250725
50%,319833.000000,2196.345450,791.363400,495.054850,0.754700,638.140950,0.987300,327207.000000,0.746950,1.524150,...,0.135550,3.069800,3.127800,3.080700,-2.826156e+10,-2.620990e+10,-2.392928e+10,53.841300,50.337800,49.614100
75%,382573.000000,2389.716575,858.633750,589.031700,0.802150,697.930525,0.991800,388804.000000,0.775850,1.674750,...,0.593950,4.449850,7.320400,4.283125,-1.460482e+10,-1.433105e+10,-1.660367e+10,63.063350,59.573600,56.666675
max,546063.000000,2811.997100,1222.723000,766.453600,1.000000,833.827900,0.997400,552598.000000,0.856200,535.525700,...,3.092300,26.171100,26.736700,32.249500,-1.627316e+08,-5.627727e+08,-4.370435e+08,79.828900,83.064900,74.104600

### Question 3
- Shuffle the data samples.

In [9]:
data_shuffled = df.sample(frac=1)
data_shuffled.head()

,AREA,PERIMETER,MAJOR_AXIS,MINOR_AXIS,ECCENTRICITY,EQDIASQ,SOLIDITY,CONVEX_AREA,EXTENT,ASPECT_RATIO,...,KurtosisRR,KurtosisRG,KurtosisRB,EntropyRR,EntropyRG,EntropyRB,ALLdaub4RR,ALLdaub4RG,ALLdaub4RB,Class
394,411293,2337.7310,826.5030,635.2358,0.6398,723.6536,0.9940,413795,0.7242,1.3011,...,5.0279,7.4440,5.3998,-28428578816,-31159521280,-37994721280,41.3841,43.7034,47.7762,IRAQI
64,500669,2580.3069,913.3773,702.0745,0.6397,798.4182,0.9948,503290,0.7571,1.3010,...,4.0502,6.2261,5.9918,-42263990272,-33475536896,-34506137600,46.3075,41.6845,40.4161,BERHI
533,382799,2370.5449,868.9788,572.6002,0.7522,698.1367,0.9871,387811,0.7864,1.5176,...,2.2758,2.2631,2.4343,-68889616384,-62681735168,-66364059648,64.9829,62.5284,64.0812,ROTANA
42,442845,2422.3660,836.9063,677.0573,0.5878,750.8979,0.9941,445459,0.7601,1.2361,...,3.0302,3.8602,6.1086,-47491162112,-46423900160,-38083399680,50.7077,50.8507,45.4709,BERHI
173,134784,1396.6130,512.9982,337.8875,0.7524,414.2612,0.9814,137337,0.7789,1.5183,...,3.1777,2.7328,2.3465,-21827747840,-21723887616,-15566317568,62.8286,63.4342,53.5290,DOKOL

### Question 4
- Split the dataset into training (80%) and test (20%)

In [10]:
data_shuffled.shape

(898, 35)

In [24]:
# get the number of rows
nrow = len(df)
# split the data at 80
split = int(nrow * 0.80)
# training set is the data shuffled from 0 to 80
# .iloc[] is an indexer used for integer-location-based indexing of data in a DataFrame. 
training_set = data_shuffled.iloc[:split]
training_set.shape

(718, 35)

In [25]:
# training set is the data shuffled from 80 to 100
test_set = data_shuffled.iloc[split:]
test_set.shape

(180, 35)

### Question 5
- Scale all independent features.
    - Scaling data into new values makes it easier to compare, especially when the data is in different units of measure.

In [34]:
from sklearn.preprocessing import StandardScaler

# since class is of "string" exclude this column and only get the numeric columns
df_numeric = df.drop(columns=['Class'])
# initialize the scaler
scaler = StandardScaler()
# fit the scaler to the data
scaler.fit(df_numeric)
# transform the numerical data
scaled_df = scaler.transform(df_numeric)
scaled_df

array([[ 1.15563972,  0.78394219,  0.60450726, ...,  0.53834033,
         0.43559289, -0.02390791],
       [ 0.37169955,  0.06706714, -0.18747301, ..., -0.00354973,
         0.28411298, -0.02469438],
       [ 2.13226458,  1.4391311 ,  1.31912143, ...,  0.95889749,
         0.74233511,  0.3552428 ],
       ...,
       [-0.41017878, -0.31949739, -0.02304289, ..., -0.37064418,
        -0.56715228, -0.6589192 ],
       [-0.55362172, -0.36944589, -0.23728094, ...,  0.071247  ,
        -0.21883206, -0.22875922],
       [ 0.42446789,  0.56520261,  0.50723897, ..., -0.1705156 ,
        -0.71603977, -0.77948909]])

### Question 6
- Build a classifier with the training set.

In [35]:
import sklearn
training_set.shape

(718, 35)

In [ ]:
# Create new variables for each important set of information and assign the data: